{% extends "base.html" %}
  {% load static %}

{% block title %}products home Page{% endblock%}
{% block content %}

<div id="products-container" class="container">
  <!-- products -->
  <div class="row m-4">

    {% for product in products%}
    <div class="col-sm-2">
      <div class="card text-center">
        <img src="{{ product.image.url }}" class="card-img-top" width=80 height=160 ></img>
        <div>
          <a class="card-title" href={{product.id}}>{{product.name}}</a>
          <p>{{ product.price }}$</p>
          <hr>
          <a href="#" class="btn btn-success"><i class="material-icons">shopping_cart</i></a>
          <a href="{{product.id}}" class="btn btn-md btn-primary">details</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  <!-- products -->
</div>


{% endblock %}